@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/*************************
***** CONFIGURATION ******
**************************/
:root {
  --blue-color: #0065fc;
  --clear-blue: #deebff;
  --grey: #f2f2f2;
  --dark-grey: #d9d9d9;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: var(--white);
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*************************
********** FONTS *********
**************************/

h1,
h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p,
nav li {
  font-size: 16px;
}

::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

#desktop {
  font-size: 18px;
  font-weight: 600;
}

.filtres h2,
.plus p {
  font-size: 18px;
  font-weight: 700;
}

.filtres li {
  font-size: 18px;
}

.hebergement p {
  font-size: 14px;
}

a:hover,
li:hover {
  color: var(--blue-color);
}

li {
  list-style-type: none;
}

ul {
  list-style: none;
}

header {
  padding: 0 50px;
}

section {
  margin: 0 auto;
  margin: 0 50px;
}

header,
main {
  max-width: 1440px;
  margin: 0 auto;
}

/**************************
********** header *********
***************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 55%;
  margin-left: 15px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 40px 30px;
  border-top: solid 3px transparent;
  transition: 0.2s ease;
}
nav ul li:hover {
  border-top: solid 3px var(--blue-color);
  transition: 0.2s ease;
}

nav ul li:hover a {
  color: var(--blue-color);
  font-weight: 600;
  transition: 0.2s ease;
}

/********** Section Rechercher **************/

/**************************
***** SECTION RECHERCHE ***
***************************/

#recherche h1,
#subtitle {
  padding-left: 4px;
}

form {
  margin: 22px 0 34px;
  display: flex;
  flex-direction: row;
}

form label {
  background: var(--grey);
  border-radius: 15px 0 0 15px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .btn-submit {
  background: var(--blue-color);
  padding: 0 18px;
  color: #fff;
  border: none;
  border-radius: 0 15px 15px 0;
}

.btn-submit:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

#mobile-icon {
  display: none;
}

form input {
  border: solid 1px var(--grey);
  outline: none;
  padding: 15px;
}

/**************************
********** FILTRES ********
***************************/
#categories {
  width: 100%;
}

.filtres h2 {
  margin-left: 12px;
}

.filtres,
.filtres ul {
  display: flex;
  flex-direction: row;
}

.filtres {
  margin: 20px 0 40px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.filtres li {
  font-weight: 600;
  margin: 0 0 0 3%;
  height: 45px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--dark-grey);
  border-radius: 60px;
  transition: transform 0.3s ease;
}

.filtres li:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.filtres .fas {
  width: 45px;
  height: 45px;
  padding: 20px;
  margin-left: -2px;
  margin-right: 10px;
  border-radius: 50%;
  color: var(--blue-color);
  background: var(--clear-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#info .fas {
  font-size: 11px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 100%;
  background: #fff;
  border: solid 1px var(--dark-grey);
  color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************
*** SECTION HEBERGEMENTS ***
***************************/

#liste-hebergement {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

/**************************
******* HEBERGEMENT *******
***************************/

.bloc-gauche,
.bloc-droit {
  background: var(--grey);
  padding: 45px 3%;
  border-radius: 20px;
}

.bloc-gauche {
  width: 880px;
}

.bloc-droit {
  width: 420px;
  margin-left: 15px;
}

.bloc-gauche h2 {
  margin-bottom: 22px;
}

.heberment-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/**** GLOBALE CARDS ****/

.prix {
  font-weight: 600;
  font-size: 18px;
}

.blue-stars {
  color: var(--blue-color);
}

.grey-stars {
  color: var(--dark-grey);
}

.blue-stars,
.grey-stars {
  font-size: 12px;
}

/**** CARDS HEBERGEMENTS MARSEILLE ****/

.hebergement {
  background: var(--white);
  border-radius: 15px;
  margin-bottom: auto;
  width: 245px;
  box-shadow: 1px 1px 15px var(--dark-grey);

  transition: transform 0.3s ease;
}

.hebergement img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  padding: 5px 5px 0 5px;
}

.hebergement-text {
  margin: 12px 15px 10px;
  line-height: 1.3;
}

.hebergement:hover {
  color: var(--blue-color);
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/**************************
******** POPULAIRE ********
***************************/

.bloc-droit h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

/**** CARDS HEBERGEMENTS POPULAIRES *****/

#cards-populaires {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.hebergement-populaire {
  display: flex;
  background: var(--white);
  width: 343px;
  height: 145px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px var(--dark-grey);
  transition: transform 0.3s ease;
}

.hebergement-populaire img {
  width: 127px;
  padding: 5px 0 5px 5px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.populaire-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px;
  line-height: 1.3;
}

.hebergement-populaire:hover {
  color: var(--blue-color);
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.plus {
  font-weight: 700;
  margin-top: 45px;
}

/***************************
******** RESPONSIVE ********
****************************/

/******** DESKTOP ********/

@media screen and (max-width: 992px) {
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }

  section {
    margin: 0;
  }

  #recherche {
    margin: 0 6%;
  }

  .bloc-gauche,
  .bloc-droit {
    border-radius: 0;
  }

  .filtres {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #categories ul {
    flex-wrap: wrap;
  }

  #categories ul li {
    margin: 10px;
  }

  .heberment-list-container {
    flex-wrap: wrap;
  }

  .hebergement {
    width: 43%;
  }

  #liste-hebergement {
    flex-direction: column-reverse;
  }

  .bloc-gauche,
  .bloc-droit {
    width: 100%;
  }

  .bloc-droit {
    margin-left: 0;
    margin-bottom: 2%;
  }

  #cards-populaires {
    gap: 0;
  }

  .hebergement-populaire {
    width: 32%;
  }

  .hebergement-populaire img {
    width: 35%;
  }

  .populaire-infos {
    margin: 5%;
  }

  #info {
    margin-left: 1%;
  }
}

/******** TABLETTE ********/
@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  nav li {
    font-size: 16px;
  }

  .filtres h2,
  .plus p {
    font-size: 20px;
  }

  .filtres li {
    font-size: 18px;
  }

  .hebergement p {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 20px;
  }

  header {
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
  }

  .logo {
    width: 130px;
    margin-bottom: 30px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
  }

  nav ul li {
    width: 50%;
  }

  nav ul li {
    padding: 20px 40px;
    text-align: center;
  }

  nav ul li {
    border-bottom: solid 6px var(--grey);
  }

  nav ul li:hover {
    border-top: transparent;
    border-bottom: solid 6px var(--blue-color);
  }

  #recherche h1 {
    margin: 40px 0 10px;
  }

  #recherche h1,
  #subtitle {
    text-align: center;
  }
  form {
    justify-content: center;
    margin-top: 30px;
  }
  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  #info {
    align-items: flex-start;
    margin-left: 2%;
  }

  #liste-hebergement {
    margin-left: 0;
    margin-right: 0;
  }
  .bloc-droit,
  .bloc-gauche {
    border-radius: 0;
  }

  #cards-populaires {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }

  .hebergement-populaire {
    width: 48%;
  }

  .populaire-infos {
    margin: 4%;
  }
}

/********* MOBILE *********/
@media screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 20px;
  }

  p,
  nav li {
    font-size: 20px;
  }

  .filtres h2,
  .plus p {
    font-size: 20px;
  }

  .filtres li {
    font-size: 20px;
  }

  .hebergement p {
    font-size: 16px;
  }

  ::placeholder {
    font-size: 20px;
  }

  #recherche h1,
  #subtitle {
    text-align: left;
  }

  form {
    justify-content: flex-start;
  }

  form input {
    width: 80%;
    padding-right: 8%;
  }

  form .btn-submit {
    position: absolute;
    right: 6%;
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  #mobile-icon {
    display: block;
  }

  #desktop {
    display: none;
  }

  .bloc-gauche,
  .bloc-droit {
    padding: 10% 8%;
  }

  .bloc-gauche {
    background: var(--white);
  }

  #cards-populaires {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .hebergement {
    width: 100%;
  }

  .hebergement-populaire {
    width: 100%;
  }

  .heberment-list-container,
  #cards-populaires {
    gap: 15px;
  }

  .bloc-droit h1 {
    margin-bottom: 11%;
  }
}

@media screen and (max-width: 320px) {
  h1,
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 13px;
  }

  p,
  nav li {
    font-size: 13px;
  }

  .filtres h2,
  .plus p {
    font-size: 14px;
  }

  .filtres li {
    font-size: 12px;
  }

  .hebergement p {
    font-size: 13px;
  }

  ::placeholder {
    font-size: 14px;
  }

  #recherche {
    margin: 0 1%;
  }

  form input {
    width: 70%;
    padding-right: 13%;
  }
}
